
body{
    background-color: aquamarine;

}

.conte {
    background-color: white;
    height: 500px;
   
    display:flex;
   
    align-items: flex-end;
    
    flex-direction: column;
    padding: 10px;

  
}
.item{
    height: 150px;
    width: 150px;
    
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
  

}
.item:first-child
{
    
   
    background-color: red;
  

}
.item:last-child {
    
    background-color: green;
  

}